<ion-header class="ion-no-border">
  <ion-toolbar>
    <div>
      <ion-buttons slot="start">
        <ion-back-button icon="chevron-back" defaultHref="/home"></ion-back-button>

      </ion-buttons>
    </div>

    <div class="ion-text-center">
      <h1>Contact us</h1>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="ion-padding">

    <div class="container">
      <div class="contact-box">

        <div class="right">
          <h2>Contact Us</h2>
          <input type="text" class="field" placeholder="Your Name">
          <input type="text" class="field" placeholder="Your Email">
          <input type="text" class="field" placeholder="Phone">
          <textarea placeholder="Message" class="field"></textarea>
          <button class="btn">Send</button>
        </div>
      </div>
    </div>

  </div>
</ion-content>