<ion-header class="ion-no-border">
  <ion-toolbar>
    <div>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="/home"></ion-back-button>
      
    </ion-buttons>
    </div>


    <div class="ion-text-center">
      <h2>About us</h2>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="ion-padding">

    <div class="container">
      <div class="contact-box">
      
        
      </div>
    </div>
 
    

      <div class="inner-section">
          <h1>About Us</h1>
          <p class="text">
            That wonderful feeling  you start the engine and your adventure begins…
            
          </p>
          <p class="text">
            At Rentalcars.com everything we do is about giving you the freedom to discover more. 
            We will move mountains to find you the right rental car, and bring you a smooth, 
            hassle-free experience from start to finish. Here you can find out more about how we work.
          </p>
          <div class="skills" routerLink="/contact">
              <button>Contact Us</button>
          </div>
      </div>
  </div>

</ion-content>

